@import './assets/css/theme.css';
body,html,h1,li,ul{
  padding: 0;
  margin: 0;
}
.sr-app-content{
  margin-left: $width;
  box-sizing: border-box;
  padding: 20px;
}
.app {
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      margin-bottom: 10px
    }
    ul li {
      display: inline;
      margin-right: 100px;
    }
    ul li a {
        text-decoration: none;
    }
  }
  
  